<h1 class="text-center mb-4">Add a new Food</h1>
<%= form_with(model: @food, url: foods_path) do |form| %>
  <div class="d-flex flex-column align-items-center">
    <div class='d-flex flex-column align-items-center w-75 mb-3'>
      <%= form.text_field :name, placeholder: 'Enter name', class: "form-control w-75 mb-4" %>
      <%= form.text_field :measurement_unit, class: "form-control w-75 mb-4", placeholder: 'Measurement unit' %>
      <%= form.number_field :price, step: :any, class: "form-control w-75 mb-4", placeholder: 'Price' %>
      <%= form.submit 'Save Food', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
